{% extends 'common.html' %}
{% block body %}

<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='cssm.css') }}">

<div class="container mt-5">
   
          <div class="row">
            <div class="col-md-6">
              <img src="https://3.bp.blogspot.com/-lnGiZ2TD2ng/V3BevSoFLlI/AAAAAAAAB_8/MXwFFxEuuRkbymwWY4SH-GpvV-QPrx5GACLcB/s1600/Kinnerasani_Sanctuary.jpg" class="img-fluid" alt="Left Image" style="width: 100%;">
            </div>
            <div class="col-md-6">
              <p>
                According to some studies, the spatial pattern of deforestation and fragmentation in fo
                rests of Kinnerasani wildlife sanctuary and surroundings, 
                Telangana, India, has found the annual deforestation rates between 2010 and 2020 as 1.38% and 1.50% .<br>
               <br>
             This website designing is an innovative approach to monitor and ch
             ange detection in Kinnerasani wild sanctuary and aims  to provide approx
             imate results and predictions based on remote sensing data. The findings 
             and insights derived from this analysis can contribute to the preservation
              of Kinnerasani wild sanctuary and support efforts towards biodiversity conservation and environmental sustainability.



              </p>
            </div>
          </div>
        
          <hr style="height:2px;border-width:0;color:rgb(17, 17, 17);background-color:rgb(8, 8, 8)">
        <br>

       
          <div class="row">
            <div class="col-md-6 order-md-2">
              <img src="https://pbs.twimg.com/media/DDfDOLTUMAAQSbs.jpg" class="img-fluid" alt="Right Image" style="width: 100%;">
            </div>
            <div class="col-md-6 order-md-1">
              
              <p></p>  The Kinnerasani Wildlife Sanctuary is located at a distance of 21kilometers away from the Paloncha town which is in the district of Khammam. <br>
              The wildlife sanctuary covers an area of 635.4 square kilometers and <br>
              this plentiful land serves as the native land for several endangered species.<br>
           <br>
              The fauna found in this sanctuary are Panthers, Chinkara, Chousinghas, Sambar, Cheetal, Gaurs, Hyena, Jackals, Wild Boars, Tigers, Sloth Bear, and Black Bucks.<br>
               Tourists can also spot a number of birds like Jungle Fowl, Quails, Partridges, Peafowl, Nuktas, Spoonbills, Teals, and Doves.
            
            
            
            
            
            </div>
          </div>
       
  </div>


{% endblock body %}  